.CheckboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  padding: 0;

  border: 0;
  border-radius: 2px;
}

.CheckboxIndicator {
  color: var(--color-dark-900);
}
