.Body1 {
  top: 520px;
  left: 259px;

  width: 160px;
  height: 72px;

  //styleName: Body 1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;

}

.Body2 {
  top: 709px;
  left: 259px;

  width: 140px;
  height: 72px;

  //styleName: Body 2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;


}

.Caption{
  top: 911px;
  left: 259px;

  width: 120px;
  height: 48px;

  //styleName: Caption;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0;


}

.Link1 {
  top: 1076px;
  left: 259px;

  width: 140px;
  height: 72px;

  //styleName: Link 1;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;

}

.Link2 {
  top: 1181px;
  left: 259px;

  width: 120px;
  height: 48px;
  //styleName: Link 2;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0;



}

overline {
  top: 985px;
  left: 259px;

  width: 122px;
  height: 48px;

  //styleName: Overline;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0;



}

subtitle1{
  top: 616px;
  left: 259px;

  width: 163px;
  height: 72px;

  //styleName: Subtitle 1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;

}

subtitle2{
  top: 817px;
  left: 259px;

  width: 143px;
  height: 72px;

  //styleName: Subtitle 2;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;



}

h1{
  top: 45px;
  left: 259px;

  width: 264px;
  height: 108px;

  //styleName: H1;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  letter-spacing: 0;

}

h2{
  top: 174px;
  left: 259px;

  width: 204px;
  height: 108px;

  //styleName: H2;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  letter-spacing: 0;

}

h3{
  top: 315px;
  left: 259px;

  width: 183px;
  height: 72px;

  //styleName: H3;
  font-family: Roboto, sans-serif ;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;


}

h4{
  top: 424px;
  left: 259px;

  width: 163px;
  height: 72px;

  //styleName: H4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;


}
